{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
{% for item in jobs%}
<h2>Action #{{item.id}}</h2>
<table>
<tr>
    <th style="background:#cccccc" width="350">Title of activity</th>
    <th style="background:#cccccc" width="150">Team leader</th>
    <th style="background:#cccccc" width="150">Duration</th>
    <th style="background:#cccccc" width="250">List of collaborators</th>
    <th style="background:#cccccc">Is finished</th>
</tr>
<tr>
    <td style="background:#add8e6">{{item.job}}</td>
    <td style="background:#add8e6">{{item.team_leader}}</td>
    <td style="background:#add8e6">{{item.work_size}}</td>
    <td style="background:#add8e6" align="center">{{item.collaborators}}</td>
    <td style="background:#c9a5be" align="center">{{item.is_finished}}</td>
</tr>
</table>
{% endfor %}
{% endblock %}